# Basic information

Two types of databases: relational and non-relational
 - relational databases: include things like tables, very structured data: stores data in row and columns
 - non-relational: for unstructured data

### 
<div style="display: flex; gap: 10px;">
  <img src="relational.png" width="1200" height="300"/>
  <img src="non_relational.png" width="600" height="300"/>
</div>

<!-- <div style="display: flex; gap: 10px;">
  <img src="relational.png" style="width: 50%; height: auto;"/>
  <img src="non_relational.png" style="width: 20%; height: auto;"/>
</div>
 -->

Fact tables: Contains the core data for business analysis and measure and record business events (e..g job posting)
Dimension tables: describe attributes or dimensions of the data (skills, companies). It also supports filtering, grouping and labeling of facts in reports.

Basic database for SQLite:  
lukeb.co/sql_jobs_db  
lukeb.co/sql_invoices_db
  
Run: CTRL ENTER or "Run SQL Query" button on the right.<br>
<br>
Order to write commands:  
SELECT  
FROM  
WHERE  
GROUP BY  
HAVING  
ORDER BY ... ASC|DESC  
LIMIT

# Basic Statements and Commands

## Select all columns

SELECT: identifies the columns (or data) from database  
FROM: identifies the table we are connecting to  
*: select all the columns  




SELECT *  
FROM job_posting_fact

## Select specific Columns: put the items under each other separating them by a comma for better readability

SELECT  
&emsp;company_id,  
&emsp;name  
FROM  
&emsp;company_dim

There is a better way for that: make a reference to the table:

SELECT  
&emsp;company_dim.company_id,  
&emsp;company_dim.name  
FROM  
&emsp;company_dim

## Limitation of the outputs

SELECT  
&emsp; company_dim.company_id,  
&emsp; company_dim.name  
FROM  
&emsp; company_dim  
__LIMIT__ 5

## Reading different (dictinct) columns only

__SELECT DISTINCT__  
&emsp; job_postings_fact.job_title_short  
FROM job_postings_fact

## Running more different SQL queries: one below the other separated by semicolon

SELECT DISTINCT  
&emsp; job_postings_fact.job_title_short  
FROM job_postings_fact;  

SELECT DISTINCT  
&emsp; job_postings_fact.salary_year_avg  
FROM job_postings_fact;

!Note, currently with that editor only the last result can be shown. With advanced editor later on the others can also be shown

## Filter out particular data from the output

!WHERE is put right after FROM and the keyword is put between '' and not "".

  - e.g.:I am interested only in a job title, where it is "Data Analyst"

SELECT  
    &emsp;job_postings_fact.job_title_short,  
    &emsp;job_postings_fact.job_location,  
    &emsp;job_postings_fact.job_via,  
    &emsp;job_postings_fact.salary_year_avg  
    
FROM  
    &emsp;job_postings_fact  
__WHERE__  
    &emsp;job_title_short = 'Data Analyst'  
LIMIT 10

  -  e.g.: I am interested in job posts of Data Analysts where the salary is above 90000 per year

SELECT  
    &emsp;job_postings_fact.job_title_short,  
    &emsp;job_postings_fact.job_location,  
    &emsp;job_postings_fact.job_via,  
    &emsp;job_postings_fact.salary_year_avg  
    
FROM  
    &emsp;job_postings_fact  
__WHERE__  
    &emsp;job_title_short = 'Data Analyst' __AND__ salary_year_avg > 90000  
LIMIT 10

## Adding comments

### Single line comment: --. Comment starts with '--', for strings of one line only, can be put anywhere in the query

-- query to see relevant data for DAs  
SELECT  
    &emsp;job_postings_fact.job_title_short,  
    &emsp;job_postings_fact.job_location,  
    &emsp;job_postings_fact.job_via,  
    &emsp;job_postings_fact.salary_year_avg    
FROM  
    &emsp;job_postings_fact  
WHERE  
    &emsp;job_title_short = 'Data Analyst' AND salary_year_avg > 90000  
LIMIT 10

### Multi-line comment: E.g. I open a Note section at the beginning of the query why I do that specific query
__/*__ multi  
line  
comment  
__*/__

## Ordering (sorting)

### Sort Ascending, from smallest to largest. ! NULL is the smallest if no values

/*  
Line 1 for multi-comment  
something  
Line 3  
*/  
SELECT  
    &emsp;job_postings_fact.job_title_short,  
    &emsp;job_postings_fact.job_location,  
    &emsp;job_postings_fact.job_via,  
    &emsp;job_postings_fact.salary_year_avg    
FROM  
    &emsp;job_postings_fact  
WHERE  
    &emsp;job_title_short = 'Data Analyst'AND salary_year_avg > 90000  
__ORDER BY__  
    &emsp;salary_year_avg  -- you can put here __ASC__, right after the sorting key, but it is not necessary, the default ORDER is ASC  
LIMIT 10

### Sort Descending

/*  
Line 1 for multi-comment  
something  
Line 3  
*/  
SELECT  
    &emsp;job_postings_fact.job_title_short,  
    &emsp;job_postings_fact.job_location,  
    &emsp;job_postings_fact.job_via,  
    &emsp;job_postings_fact.salary_year_avg    
FROM  
    &emsp;job_postings_fact  
WHERE  
    &emsp;job_title_short = 'Data Analyst'AND salary_year_avg > 90000  
__ORDER BY__  
    &emsp;salary_year_avg __DESC__  
LIMIT 10

# Comparisons

## Notes:

Used with WHERE and HAVING clause  
Used in conjunction with comparison operators: $=,<>,>,<,<=,>=$  
Used in conjunction with logical operators: __AND,OR,BETWEEN,IN__

## Comparison operators, e.g.: Not equal: select the job_via via not 'via Ai-Jobs.net'

### First solution:  
SELECT  
    &emsp;job_postings_fact.job_id,  
    &emsp;job_postings_fact.job_title_short,  
    &emsp;job_postings_fact.job_via,  
    &emsp;job_postings_fact.salary_year_avg  
FROM   
    &emsp;job_postings_fact  
WHERE  
    &emsp;job_postings_fact.job_via <> 'via Ai-Jobs.net'

### Second solution:  
SELECT  
    &emsp;job_postings_fact.job_id,  
    &emsp;job_postings_fact.job_title_short,  
    &emsp;job_postings_fact.job_via,  
    &emsp;job_postings_fact.salary_year_avg  
FROM   
    &emsp;job_postings_fact  
WHERE __NOT__  
    &emsp;job_postings_fact.job_via = 'via Ai-Jobs.net'

### Note, that double negation works: select the job_via via 'via Ai-Jobs.net'

SELECT  
    &emsp;job_postings_fact.job_id,  
    &emsp;job_postings_fact.job_title_short,  
    &emsp;job_postings_fact.job_via,  
    &emsp;job_postings_fact.salary_year_avg  
FROM   
    &emsp;job_postings_fact  
WHERE NOT  
    &emsp;job_postings_fact.job_via <> 'via Ai-Jobs.net'

## Logical operators

### AND: Salary is more than 100000 per year for Data Analysts:  
SELECT  
    &emsp;job_postings_fact.job_id,  
    &emsp;job_postings_fact.job_title_short,  
    &emsp;job_postings_fact.job_via,  
    &emsp;job_postings_fact.salary_year_avg  
FROM   
    &emsp;job_postings_fact  
WHERE  
    &emsp;job_postings_fact.salary_year_avg > 100000  
    &emsp;__AND__ job_postings_fact.job_title = 'Data Analyst'  
ORDER BY  
    &emsp;job_postings_fact.salary_year_avg

### OR: In case of OR, it is permissive OR ( both conditions are allowed,too).  
List the jobs where it is for Data Scientist OR the salary_year_avg > 100000 (so it can be e.g.: Data Scientist with 120000 salary/year)

SELECT  
    &emsp;job_postings_fact.job_id,  
    &emsp;job_postings_fact.job_title_short,  
    &emsp;job_postings_fact.job_via,  
    &emsp;job_postings_fact.salary_year_avg  
FROM  
    &emsp;job_postings_fact  
WHERE  
    &emsp;job_postings_fact.job_title_short = 'Data Analyst'  
    &emsp;OR job_postings_fact.salary_year_avg > 100000  
ORDER BY  
    &emsp;job_postings_fact.salary_year_avg

### BETWEEN

SELECT  
    &emsp;job_postings_fact.job_id,  
    &emsp;job_postings_fact.job_title_short,  
    &emsp;job_postings_fact.job_via,  
    &emsp;job_postings_fact.salary_year_avg  
FROM  
    &emsp;job_postings_fact  
WHERE  
    &emsp;job_postings_fact.job_title_short = 'Data Analyst'  
    &emsp;OR job_postings_fact.salary_year_avg BETWEEN 60000 AND 90000  
ORDER BY  
    &emsp;job_postings_fact.salary_year_avg

### IN: Match not to a condition, but to any condition in a list: IN (cond1, cond2, .., condn)  
Job titles of Data Analyst or Data Engineer or Data Scientist:  
SELECT  
    &emsp;job_postings_fact.job_id,  
    &emsp;job_postings_fact.job_title_short,  
    &emsp;job_postings_fact.job_via,  
    &emsp;job_postings_fact.salary_year_avg  
FROM  
    &emsp;job_postings_fact  
WHERE  
    &emsp;job_postings_fact.job_title_short __IN__ ('Data Analyst', 'Data Engineer', 'Data Scientist)

# Practice Problem 1

### Get the job details for BOTH 'Data Analyst' or 'Business Analyst' positions
  - For 'Data Analyst', jobs only > 100.000
  - For 'Business Analyst', jobs only > 70.000
  - Jobs are located either in 'Boston, MA' or 'Anywhere'

SELECT  
    &emsp;job_postings_fact.job_title_short,  
    &emsp;job_postings_fact.job_location,  
    &emsp;job_postings_fact.job_via,  
    &emsp;job_postings_fact.salary_year_avg  
FROM   
    &emsp;job_postings_fact  
WHERE  
    &emsp;(
&emsp;&emsp;        (job_postings_fact.job_title_short = 'Data Analyst' AND job_postings_fact.salary_year_avg > 100000)  
&emsp;    OR  
&emsp;&emsp;&emsp;  (job_postings_fact.job_title_short = 'Business Analyst' AND job_postings_fact.salary_rate > 70000)  
&emsp;    )  
&emsp;    AND  
&emsp;        job_postings_fact.job_location IN ('Boston, MA', 'Anywhere')  
&emsp;    AND  
&emsp;        job_postings_fact.salary_year_avg IS NOT NULL  
ORDER BY  
&emsp;    job_postings_fact.salary_year_avg ASC

# Wildcards

## zero or more characters: __LIKE %__. It is as * for bash

### Get all the jobs of 'Analyst'

SELECT  
    &emsp;job_postings_fact.job_title_short,  
    &emsp;job_postings_fact.job_title,  
    &emsp;job_postings_fact.job_location,  
    &emsp;job_postings_fact.job_via,  
    &emsp;job_postings_fact.salary_year_avg  
FROM   
    &emsp;job_postings_fact  
WHERE  
    &emsp;job_postings_fact.job_title LIKE '%Analyst%'  
ORDER BY  
    &emsp;job_postings_fact.salary_year_avg ASC

## single character: **_**

### List the jobs of 'Business Analyst' only. Hint: There is a 'Business Data Analyst' job I am not interested in.

SELECT  
    &emsp;job_postings_fact.job_title_short,  
    &emsp;job_postings_fact.job_title,  
    &emsp;job_postings_fact.job_location,  
    &emsp;job_postings_fact.job_via,  
    &emsp;job_postings_fact.salary_year_avg  
FROM   
    &emsp;job_postings_fact  
WHERE  
    &emsp;job_postings_fact.job_title LIKE '%Business_Analyst%'  
ORDER BY  
    &emsp;job_postings_fact.salary_year_avg ASC

# Aliases: AS

Temporarily rename  
  - a column in a table. It makes the column names more readable. Practical for presentations.
  - works for tables, too.

### Present the following columns in a different name:
job_title_short -> job_title  
job_location -> location  
job_via -> online_platform
salary_year_avg -> salary

SELECT  
    &emsp;job_postings_fact.job_title_short AS job_title,  
    &emsp;job_postings_fact.job_location AS location,  
    &emsp;job_postings_fact.job_via AS online_platform,  
    &emsp;job_postings_fact.salary_year_avg AS salary  
FROM   
    &emsp;job_postings_fact

### Load job_posting_fact as jpc. Also modify the load of the columns according to it. Give 2 solutions, the second solution is the simpler form of the first one.

#### With AS in FROM
SELECT  
    &emsp;jpc.job_title_short **AS** job_title,  
    &emsp;jpc.job_location AS location,  
    &emsp;jpc.job_via AS online_platform,  
    &emsp;jpc.salary_year_avg AS salary  
FROM  
    &emsp;job_postings_fact **AS** jpc

#### Without AS either in SELECT or FROM. It works but makes it harder read.
SELECT  
    &emsp;jpc.job_title_short job_title,  
    &emsp;jpc.job_location location,  
    &emsp;jpc.job_via online_platform,  
    &emsp;jpc.salary_year_avg salary  
FROM  
    &emsp;job_postings_fact jpc  
<br>
!important note: in this case **jpc**.job_title_short works but **job_postings_fact**.job_title_short does not

# Practice Problem 1

### Look for non-senior data analyst or business analyst roles  
Get the job title, location and average year salary

SELECT  
    &emsp;job_postings_fact.job_title,  
    &emsp;job_postings_fact.job_location,  
    &emsp;job_postings_fact.salary_year_avg  
FROM  
    &emsp;job_postings_fact  
WHERE  
    &emsp;(job_postings_fact.job_title NOT LIKE '%Senior%')  
    &emsp; AND  
     &emsp;(    (job_postings_fact.job_title LIKE '%Data%' OR job_postings_fact.job_title LIKE '%Business%') AND job_postings_fact.job_title LIKE '%Analyst%'  
    &emsp; )

# Basic Operations

### Here is the core query from lukeb.co/sql_invoices_db

SELECT  
    &emsp; invoices_fact.project_company,  
    &emsp; invoices_fact.nerd_id,  
    &emsp; invoices_fact.nerd_role,  
    &emsp; invoices_fact.hours_rate  
FROM  
    &emsp; invoices_fact

 ### Addition, subtraction: Modify the core query as per follows:  
  - load hours_rate as rate_original
  - subtract 5 from all the values in hours rate column and load it as rate_drop

SELECT  
    &emsp; invoices_fact.project_company,  
    &emsp; invoices_fact.nerd_id,  
    &emsp; invoices_fact.nerd_role,  
    &emsp; invoices_fact.hours_rate AS rate_original,  
    &emsp; invoices_fact.hours_rate - 5 AS rate_drop  
FROM  
    &emsp; invoices_fact

### Multiplication: Get the following from lukeb.co/sql_invoices_db:  
  -  load every column
  -  filter by invoices_fact.hours_spent * invoices_fact.hours_rate > 180000
  -  sort it by nerd_id

SELECT    
    &emsp; *    
FROM    
    &emsp;invoices_fact    
WHERE    
    &emsp;invoices_fact.hours_spent * invoices_fact.hours_rate > 180000    
ORDER BY    
    &emsp;invoices_fact.nerd_id ASC

### Modulus operator. lukeb.co/sql_invoices_db
The task: In general, people work 8 hours a day. Give back an extra_hours column which represents the overtime value between 8 and 16 working hours(hours_spent).

SELECT  
    &emsp; *,  
    &emsp; invoices_fact.hours_spent % 8 AS extra_hours  
FROM  
    &emsp; invoices_fact  
WHERE  
    &emsp; extra_hours <> 0 AND (invoices_fact.hours_spent BETWEEN 8 AND 16)  
ORDER BY  
    &emsp; extra_hours

# Aggregation: SUM(), COUNT(), AVG(), MAX(), MIN()  
Used in conjunction with GROUP BY and/or HAVING.  
lukeb.co/sql_jobs_db is used

### Add up all the values in salary_year_avg and return with that sum only with name salary_sum

SELECT  
    &emsp; SUM(job_postings_fact.salary_year_avg) AS salary_sum  
FROM  
    &emsp;job_postings_fact

### Modify the query just above as per follows: add the number of rows of the column as count_rows

SELECT  
    &emsp; SUM(job_postings_fact.salary_year_avg) AS salary_sum,  
    &emsp; COUNT(*) as count_rows  
FROM  
    &emsp;job_postings_fact

### Modify the query just above as per follows: add the number of rows of the column where the value is not NULL as count_rows_2

SELECT  
    &emsp; SUM(job_postings_fact.salary_year_avg) AS salary_sum,  
    &emsp; COUNT(*) as count_rows,  
    &emsp; COUNT(job_postings_fact.salary_year_avg) as count_rows_2  
FROM  
    &emsp;job_postings_fact  

  So: COUNT(*) counts every rows; COUNT(<specific column>) counts only the rows where the values are not NULL

### How many different job titles exist?

SELECT  
    &emsp; COUNT(DISTINCT(job_postings_fact.job_title_short)) AS different_jobs  
FROM  
    &emsp; job_postings_fact

### How many part-time job advertisements exist?

SELECT  
    &emsp; COUNT(job_postings_fact.job_schedule_type) AS part_time_jobs  
FROM  
    &emsp;job_postings_fact  
WHERE  
   &emsp;job_postings_fact.job_schedule_type LIKE '%Part-time%'

### What is the yearly average salary for Data Analysts rounded to 2 decimals + what are the mimimum and maximum salary values on a yearly basis?

SELECT   
    &emsp; ROUND(AVG(job_postings_fact.salary_year_avg), 2) AS average_salary_year,  
     &emsp;MIN(job_postings_fact.salary_year_avg) AS salary_min,  
     &emsp;MAX(job_postings_fact.salary_year_avg) AS salary_max  
FROM  
     &emsp;job_postings_fact  
WHERE  
     &emsp;job_postings_fact.job_title_short = 'Data Analyst'

### What is the average, the min and the max salary for all the jobs? Hint: modify the query above

SELECT   
    &emsp; job_postings_fact.job_title_short AS jobs,  
    &emsp; ROUND(AVG(job_postings_fact.salary_year_avg), 2) AS average_salary_year,  
    &emsp; MIN(job_postings_fact.salary_year_avg) AS salary_min,  
    &emsp; MAX(job_postings_fact.salary_year_avg) AS salary_max  
FROM  
    &emsp; job_postings_fact  
GROUP BY  
    &emsp; job_postings_fact.job_title_short

### Add the following query to the above one: get the job number advertisements in total for all the jobs

SELECT   
    &emsp; job_postings_fact.job_title_short AS jobs,  
    &emsp; COUNT(job_postings_fact.job_title_short) AS job_numbers,  
    &emsp; ROUND(AVG(job_postings_fact.salary_year_avg), 2) AS average_salary_year,  
    &emsp; MIN(job_postings_fact.salary_year_avg) AS salary_min,  
    &emsp; MAX(job_postings_fact.salary_year_avg) AS salary_max  
FROM  
    &emsp; job_postings_fact  
GROUP BY  
    &emsp; job_postings_fact.job_title_short

### Make a filter on the query just above: I am only interested in job titles which have more than 100 jobs

SELECT   
    &emsp; job_postings_fact.job_title_short AS jobs,  
    &emsp; COUNT(job_postings_fact.job_title_short) AS job_numbers,  
    &emsp; ROUND(AVG(job_postings_fact.salary_year_avg), 2) AS average_salary_year,  
    &emsp; MIN(job_postings_fact.salary_year_avg) AS salary_min,  
    &emsp; MAX(job_postings_fact.salary_year_avg) AS salary_max  
FROM  
    &emsp; job_postings_fact  
GROUP BY  
    &emsp; job_postings_fact.job_title_short  
HAVING  
    &emsp; job_numbers > 100

#### ! Difference between WHERE and HAVING: WHERE filters Rows (before grouping), HAVING filters Groups (after grouping). Therefore WHERE cannot be used with aggregation.

### Practice Problem 1 (aggregation):
In the job_posting_fact table calculate the total sum of the average yearly salary for all the job posting that are marked as fully remote (job_working_from_home is TRUE)   
and divide it by the total count of salary_year_avg. To get the total average yearly salary for fully remote jobs. Ensure to only include job posting where a yearly salary is specified (not NULL)

SELECT   
    &emsp; job_postings_fact.job_title_short,  
    &emsp; SUM(job_postings_fact.salary_year_avg) AS sum_yearly_avg_salary,  
    &emsp; (SUM(job_postings_fact.salary_year_avg)) / (COUNT(job_postings_fact.salary_year_avg)) as wtf  
FROM  
    &emsp; job_postings_fact  
WHERE  
    &emsp; job_postings_fact.job_work_from_home IS TRUE  
    &emsp; AND  
    &emsp; job_postings_fact.salary_year_avg IS NOT NULL  
GROUP BY  
    &emsp; job_postings_fact.job_title_short

### Practice Problem 2 (aggregation):

In the job_posting_fact table count the total number of job postings that offer health insurance. Use the job_health_insurance column to determine if a job posting offers health insurance

SELECT  
    &emsp; COUNT(job_postings_fact.job_title_short) AS job_health  
FROM  
    &emsp; job_postings_fact  
WHERE  
    &emsp; job_postings_fact.job_health_insurance = '1'

### Practice Problem 3 (aggregation):
In the job_posting_fact table count the number of jobs postings available for each country. Use the job_country column to group the job postings, and count the number of job postings  
(job_id) within each country group.

SELECT  
    &emsp; job_postings_fact.job_country,  
    &emsp; COUNT(job_postings_fact.job_id) AS jobs  
FROM  
    &emsp; job_postings_fact  
GROUP BY  
    &emsp; job_postings_fact.job_country

### Practice Problem 3:  lukeb.co/sql_invoices_db
-  Calculate the current month's total earnings per project (hours_spent * hours_rate)
-  Calculate a scenario where the hourly rate increases by $5

SELECT   
    &emsp; invoices_fact.project_id,  
    &emsp; invoices_fact.hours_spent,  
    &emsp; invoices_fact.hours_rate AS rate_original,  
    &emsp; SUM(invoices_fact.hours_spent * invoices_fact.hours_rate) AS project_original_cost,  /* Calculate the current month's total earnings per project */  
    &emsp; invoices_fact.hours_rate + 5 AS rate_hike,  
    &emsp; SUM(invoices_fact.hours_spent * (invoices_fact.hours_rate + 5)) AS project_projected_cost   /* Calculate a scenario where the hourly rate increases by $5 */  
FROM   
    &emsp; invoices_fact  
GROUP BY  
    &emsp; invoices_fact.project_id

# Null values : Fields with no values.  
Can be filtered out with WHERE or HAVING

### Practice problem 2:  lukeb.co/sql_jobs_db  
Identify all job postings that have neither an annual average salary nor an hourly average salary in the job_posting_fact table. Return job_id, job_title, salary_year_avg, salary_hour_avg

### 1. solution

SELECT  
    &emsp; job_postings_fact.job_id,  
    &emsp; job_postings_fact.job_title,  
    &emsp; job_postings_fact.salary_year_avg,  
    &emsp; job_postings_fact.salary_hour_avg  
FROM  
    &emsp; job_postings_fact  
WHERE  
    &emsp; job_postings_fact.salary_year_avg IS NOT NULL  
    &emsp; AND  
    &emsp; job_postings_fact.salary_hour_avg IS NOT NULL

### 2. solution ( I like it better)

SELECT  
    &emsp; job_postings_fact.job_id,  
    &emsp; job_postings_fact.job_title,  
    &emsp; job_postings_fact.salary_year_avg,  
    &emsp; job_postings_fact.salary_hour_avg  
FROM  
    &emsp; job_postings_fact  
WHERE NOT  
    &emsp; (job_postings_fact.salary_year_avg IS NULL  
    &emsp; OR  
    &emsp; job_postings_fact.salary_hour_avg IS NULL)

# Joins

### LEFT JOIN:

We have A and B 2 separate tables, and it will return all of the contents table A and then whatever we are matching A and B on.  
it is only going to return the contents from B that is matches A on.    
In other words: A and B has a common part (say a column) and this common part can be used as a reference to glue other parts of B only to A.
In case there is corresponding value in B to A in the common column (say A has value "1" but has not), then NULL is filled in the corresponding row to B.
<div align="left">
  <img src="sql_left_join.png" width="100" height="50"/>
</div>

#### Join company_name of company_dim table to job_posting_fact using company_id column

SELECT  
    &emsp;job_postings.job_id,  
    &emsp;job_postings.job_title_short,  
    &emsp;job_postings.company_id AS company_id_A,  
    &emsp;companies.company_id AS company_id_B,  
    &emsp;companies.name AS company_name  
    
FROM job_postings_fact AS job_postings  
LEFT JOIN company_dim AS companies  
    &emsp;ON job_postings.company_id = companies.company_id

### RIGHT JOIN

Returns all rows from the right table and matching rows from the left table. For non-matching rows in the left table, it uses NULL values.
<div align="left">
  <img src="sql_right_join.png" width="100" height="50"/>
</div>

### INNER JOIN

We have A and B table and it returns rows from the A table that have the corresponding row in B table.  
<div align="left">
  <img src="sql_inner_join.png" width="100" height="50"/>
</div>  
In case A has more columns that match with the same common value in B then the result comes back with all the columns A has, e.g.:  
A table : m = a1, a2, a3, a4, a5   
f = 1, 2, 2, 3, 3   
<br>
n = b1, b2, b3, b4, b5  
f = 1, 2, 3, 4 ,5  

INNER JOIN B ON A.f = B.f WHERE A.f = 2 will be  

| m  | A.f | n  | B.f |
|----|-----|----|-----|
| a2 | 2   | b2 | 2   |
| a3 | 2   | b2 | 2   |

#### I am interested in jobs where a skill is available  
Here 3 tables should be inner joined: job_postings_fact, skills_job_dim and skills_dim

SELECT  
    &emsp; job_postings_fact.job_id,  
    &emsp; job_postings_fact.job_title,  
    &emsp; skills_job_dim.skill_id,  
    &emsp; skills_dim.skills  
FROM  
    &emsp; job_postings_fact  
INNER JOIN skills_job_dim  
    &emsp; ON job_postings_fact.job_id = skills_job_dim.job_id  
INNER JOIN skills_dim  
    &emsp; ON skills_job_dim.skill_id = skills_dim.skill_id

### FULL OUTER JOIN

<div align="left">
  <img src="sql_full_outer_join.png" width="100" height="50"/>
</div>  
Joining 2 tables, returns all rows from the first and second tables. If there are no matching rows in one of the tables, it uses NULL to represent the missing values.SQlite does not support it natively but it can be simulated using a combination of LEFT JOIN, RIGHT JOIN, and UNION. 
Real world use case can be stocktaking, when a company has multiple shops in multiple locations and would like to see the consolidated view of inventory.

### Practice Problem 1  
Retrieve the list of job titles(job_title) and the corresponding company names (name) for all job postings that mention "Data Scientist" in the job title. Use the job_posting_fact and company_dim tables for this query.

SELECT  
    &emsp;job_postings_fact.job_title,  
    &emsp;company_dim.name AS company_name  
FROM job_postings_fact  
LEFT JOIN company_dim  
    &emsp;ON job_postings_fact.company_id = company_dim.company_id  
WHERE  
    &emsp;job_postings_fact.job_title
    &emsp;LIKE '%Data Scientist%'

### Practice Problem 2:
Fetch all job postings, including their job titles (job_title) and the names of the skills required (skills), even if no skills are listed for a job. Ensure that the job is located in "New York" and offers "Health Insurance".  
Use the job_posting_fact, skills_job_dim and skills_dim tables.

SELECT  
    &emsp; job_postings_fact.job_title,  
    &emsp; job_postings_fact.job_health_insurance,  
    &emsp; job_postings_fact.job_location,  
    &emsp; skills_dim.skills
    
FROM   
    &emsp; job_postings_fact  
    
LEFT JOIN skills_job_dim ON job_postings_fact.job_id = skills_job_dim.job_id  
LEFT JOIN skills_dim ON skills_dim.skill_id = skills_job_dim.skill_id  

WHERE  
    &emsp; job_postings_fact.job_location = 'New York'  
    &emsp; AND  
    &emsp; job_postings_fact.job_health_insurance = '1'

# Order of execution

### Order or writing

1. SELECT
2. FROM
3. JOINs
4. WHERE
5. GROUP BY
6. HAVING
7. ORDER BY
8. LIMIT

### Order of Execution

1. FROM  
2. JOIN (combined with FROM as part of building the dataset)  
3. WHERE (filters rows before grouping)  
4. GROUP BY (groups the filtered rows)  
5. HAVING (filters groups after grouping)
6. SELECT (picks the columns or expressions to return)
7. ORDER BY (sorts the result set)
8. LIMIT (restricts the number of rows returned)

# Practice problem 5

Find the average salary and number of jobs postings for each skill for this:    
-  Write a query to list each unique skill from the skills_dim table
-  Count how many job postings mention each skill from the skills_job_dim table
-  Calculate the average yearly salary for job postings associated with each skill
-  Group the results by the name of the skill name
-  Order by average salary
Hint: use LEFT JOIN to combine skills_dim, skills_job_dim and job_posting_fact tables

### Solution

/* skills_dim table has skills and skill_id columns  
skill-job dim table has skill_id and job_id columns  
job fact table has job_id and salary_year_avg columns, so  
import skills_dim table first then left join skill-job dim table and job_postings_fact tables  
*/


SELECT  
    &emsp; DISTINCT(skills_dim.skills) AS skill_name,  
    &emsp; COUNT(skills_job_dim.job_id) AS number_of_job_postings,  
    &emsp; AVG(job_postings_fact.salary_year_avg) AS avg_yearly_salary_per_skill  
FROM skills_dim  
LEFT JOIN skills_job_dim ON skills_dim.skill_id = skills_job_dim.skill_id  
LEFT JOIN job_postings_fact ON job_postings_fact.job_id = skills_job_dim.job_id  
GROUP BY  
    &emsp; skills_dim.skills  
ORDER BY avg_yearly_salary_per_skill DESC

# ADVANCED; PostgreSQL